{%extends "SpljBundle:Bloc:skeleton.html.twig"%}
{% block title %}Home{% endblock %}
{% block class %}public-window home{% endblock %}
{% block h1 %}nos derniers articles{% endblock %}
{% block body %}
<div class="row mtbox">
	<ul class="wrap-list">
	{% for article in article %}
		<div class="col-md-6 col-sm-6 mb">
			<li class="article white-panel pn donut-chart">
				<div class="white-header">
					<h3><a href="/home/article/{{ article.id }}">{{ article.title }}e</a></h3>
				</div>
				<div class="text-left">
					<div class="infos">
						<span>publié le </span><date>{{ article.date|date('d/m/Y') }}</date><span> - par <span>Auteur</span></span>
					</div>
					<figure class="text-center">
						<a href="/home/article/{{ article.id }}">
							<img src="{{ asset('bundles/splj/img/articles/'~ article.image)}}" alt="">
						</a>
					</figure>
				</div>
				<div class="">
					<figcaption>{{ article.extract }}<a href="/home/article/{{ article.id }}">...Lire la suite</a></figcaption>
					<p class="comments">3 commentaires</p>
				</div>
			</li>
		</div>
	{% endfor %}
	</ul>
</div>
{% endblock %}
	          	


