{% if is_granted('ROLE_ADMIN') %}
{% endif %}
{%extends "SpljBundle:Bloc:skeleton.html.twig"%}
{% block title %}Login{% endblock %}
{% block class %}login{% endblock %}
{% block body %}
<div id="login-page">
	<div class="container">
		{{ form_start(form, { 'attr' : { 'class' : 'form-login', 'novalidate' : 'novalidate', 'id' : 'form' }  }) }}
			<h2 class="form-login-heading">sign in now</h2>
			<div class="login-wrap">
				{{ form_widget(form.username, 
                    { 'attr' : { 'class' : 'form-control', 'placeholder': 'pseudo' }}
                     )
                }}

				<br>
				{{ form_widget(form.password,
                    { 'attr' : { 'class' : 'form-control', 'placeholder': 'mot de passe' }}
                     )
                }}
				<br>
				<button class="btn btn-theme btn-block" href="index.html" type="submit"><i class="fa fa-lock"></i> CONNEXION</button>
				<hr>
				<div class="registration">
					Don't have an account yet?<br/>
					<a class="" href="#">
						Create an account
					</a>
				</div>
			</div>
		{{ form_end(form) }} 	
		{% if error %}
			<p class="centered">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
		{% endif %}
	</div>
</div>
{% endblock %}