{%extends "SpljBundle:Bloc:skeleton.html.twig"%}
{% block title %} {{ mcqCurrent.title }} {% endblock %}
{% block class %}dashboard answer{% endblock %}
{% block h1 %}{{ mcqCurrent.title }}{% endblock %}
{% block body %}
    {{ form_start(form, { 'attr' : { 'class' : 'form-horizontal style-form', 'novalidate' : 'novalidate' } }) }}
    <div class="col-sm-12 col-xs-12 form-group">
        {% for question in mcqCurrent.questions %}
            {% set studentAnswer =  form.studentAnswers[loop.index-1] %}
            <div class="col-sm-12 col-xs-12 question">
                {{ question.question }}
            </div>
            {% for answer in question.answers %}
                <div class="col-sm-8 answers">
                    {{ answer.answer }}
                </div>
                <div class="col-sm-4 col-xs-4 ">
                    <div class="switch has-switch">
                    {% if loop.index == 1 %}
                        {{ form_widget(studentAnswer.answer1,
                            { 'attr' : { 'class' : 'form-control', 'data-toggle' : 'switch'} } )
                        }}
                    {% elseif loop.index == 2 %}
                        {{ form_widget(studentAnswer.answer2,
                            { 'attr' : { 'class' : 'form-control', 'data-toggle' : 'switch'} } )
                        }}
                    {% else %}
                        {{ form_widget(studentAnswer.answer3,
                            { 'attr' : { 'class' : 'form-control', 'data-toggle' : 'switch'} } )
                        }}
                    {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="wrap-submit">
        <button type="submit" class="btn btn-theme">valider</button>
    </div>
    {{ form_widget(form._token) }}
    {{ form_errors(form)}}
{{ form_end(form, {'render_rest': false}) }}
{% endblock %}