{%extends "SpljBundle:Bloc:skeleton.html.twig"%}
{% block title %}Question QCM{% endblock %}
{% block class %}dashboard question{% endblock %}
{% block h1 %}{% for question in question %} {{ question.question1 }} {% endfor %}{% endblock %}
{% block body %}
<form class="form-horizontal style-form" method="POST" {{ form_enctype(form) }} novalidate >
    <div class="col-sm-12 col-xs-12 form-group">
	    <div class="col-sm-6 control-label">
	       	{% for answer in answer %} {{ answer.answerA }} {% endfor %}
	    </div>
        <div class="col-sm-6 col-xs-2">
            <div class="switch has-switch">
                {{ form_widget(form.answer1.correct,
                    { 'attr' : { 'class' : 'form-control', 'data-toggle' : 'switch'} } )
                }}
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-xs-12 form-group">
	    <div class="col-sm-6 control-label">
	       	{% for answer in answer %} {{ answer.answerB }} {% endfor %}
	    </div>
        <div class="col-sm-6 col-xs-2">
            <div class="switch has-switch">
                {{ form_widget(form.answer2.correct,
                    { 'attr' : { 'class' : 'form-control', 'data-toggle' : 'switch'} } )
                }}
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-xs-12 form-group">
	    <div class="col-sm-6 control-label">
	       	{% for answer in answer %} {{ answer.answerC }} {% endfor %}
	    </div>
        <div class="col-sm-6 col-xs-2">
            <div class="switch has-switch">
                {{ form_widget(form.answer3.correct,
                    { 'attr' : { 'class' : 'form-control', 'data-toggle' : 'switch'} } )
                }}
            </div>
        </div>
    </div>
    <div class="wrap-submit">
        <button type="submit" class="btn btn-theme">valider</button>
    </div>
</form>
{% endblock %}