<aside>
    <div id="sidebar"  class="nav-collapse ">
        <ul class="sidebar-menu" id="nav-accordion">
            <li class="sub-menu li-dashboard">
                <a class="active" href="{{ url('splj.window.index')}}">
                    <i class="fa fa-home"></i>
                    <span>Accueil</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="{{ url('splj.window.index')}}">
                    <i class="fa fa-rss"></i>
                    <span>Actualités</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="{{ url('splj.window.estate')}}">
                    <i class="fa fa-building"></i>
                    <span>L'établissement</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="{{ url('splj.window.stats')}}">
                    <i class="fa fa-cubes"></i>
                    <span>Statistiques</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="">
                    <i class="fa fa-search"></i>
                    <span>Recherche</span>
                </a>
            </li>
            <li class="sub-menu li-dashboard">
                <a href="{{ url('splj.dashTeacher.list-qcm')}}">
                    <i class="fa fa-question-circle"></i>
                    <span>QCM</span>
                </a>
            </li>
            <li class="sub-menu li-dashboard">
                <a href="{{ url('splj.dashTeacher.list-article')}}">
                    <i class="fa fa-file-text"></i>
                    <span>Articles</span>
                </a>
            </li>
        </ul>
    </div>
</aside>