<aside>
    <div id="sidebar"  class="nav-collapse ">
        <ul class="sidebar-menu" id="nav-accordion">
        <p class="centered"><a href="profile.html"><img src="{{ asset('bundles/splj/img/logo_60.jpg') }}" class="img-circle" width="60"></a></p>
            <h5 class="centered">Saint-Paul-le-Jeune</h5>
            <li class="sub-menu">
                <a class="active" href="{{ url('splj.window.index')}}">
                    <i class="fa fa-home"></i>
                    <span>Accueil</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="{{ url('splj.window.index')}}">
                    <i class="fa fa-rss"></i>
                    <span>Actualités</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="{{ url('splj.window.estate')}}">
                    <i class="fa fa-building"></i>
                    <span>L'établissement</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="{{ url('splj.window.stats')}}">
                    <i class="fa fa-cubes"></i>
                    <span>Statistiques</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="">
                    <i class="fa fa-search"></i>
                    <span>Recherche</span>
                </a>
            </li>
        </ul>
    </div>
</aside>