{% if app.request.attributes.get('_route') starts with 'splj.window' %}
<footer class="site-footer">
	<div class="text-center">
		<a href="{{ url('splj.window.legal') }}" class="bottom">© copyright - mentions légales</a>
	</div>
</footer>
{% endif %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/splj/vendor/vendor.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/splj/js/app.js') }}"></script>
<script>requirejs(['main']);</script>

<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>