<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="keywords" content="keyword1,keyword2"
        <meta name="description" content="100 mots max">
        <!-- compatibilité IE -->
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <!-- Rétro compatibilité -->
        <!--[if lt IE 9]>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <![endif]-->
        <!--[if gte IE 7]><html class="ie ie7plus" lang="fr"><![endif]-->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/splj/css/theme/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/splj/css/theme/font-awesome.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/splj/css/theme/style-responsive.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/splj/css/global.css') }}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body class="{% block class %}{% endblock %}">
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <div class="wrap-logo">
                <a href="{{ url('splj.window.index')}}" class="logo">
                <img src="/bundles/splj/img/logo_60.jpg" width="60">
                <b>Collège - Lycée Saint-Paul-le-Jeune</b>
                </a>
            </div>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                {% if is_granted('ROLE_STUDENT') or is_granted('ROLE_TEACHER') %}
                    <li><a class="btn-square" href="{{ url('redirect.after.logout') }}">Déconnexion</a></li>
                    <li><p class="username">Bonjour {{ app.session.get('user').username }} !</p></li>
                    {% if app.request.attributes.get('_route') starts with 'splj.window' %}
                        <li><a class="btn-square" href="{{ url('splj.stats') }}">Dashboard</a></li>
                    {% endif %}
                {% else %}
                    <li><a class="btn-square" href="{{ url('splj.window.login')}}">Connexion</a></li>
                {% endif %}
                {% block link %}{% endblock %}
                </ul>
            </div>
        </header>
        {% include ('SpljBundle:Bloc:aside.html.twig') %}
        <section id="main-content">
            <section class="wrapper site-min-height">
                <div class="row">
                    {%  if articleRandom is defined %}
                    <div class="col-lg-9 main-chart">
                    {% else %}
                    <div class="col-lg-12 main-chart">
                    {% endif %}
                        {% for message in app.session.flashbag.get('message')%}
                            <p class="message">{{ message }} ! </p>
                        {% endfor %}
                        <h1>{% block h1 %}{% endblock %}</h1>
                        {% block body %}{% endblock %}
                    </div>
                    {%  if articleRandom is defined %}
                    <div class="col-lg-3 ds">
                       {% include ('SpljBundle:Bloc:right-col.html.twig') %}
                    </div>
                    {% endif %}
                </div>
            </section>
        </section>
        {% include ('SpljBundle:Bloc:bottom.html.twig') %}
    </body>
</html>