{#{form(form)}#}
{%extends "SpljBundle::skeleton.html.twig"%}
{% block body %}
    <form method="POST" {{ form_enctype(form) }} novalidate >
        <p>
            {{ form_label(form.nom, "Name")}}<br/>
            {{ form_widget(form.nom,
                { 'attr' : { 'class' : 'myclass' } } )
            }}
        </p>
        <p>
            {{ form_label(form.prenom,"Firstname") }}<br/>
            {{ form_widget(form.prenom) }}
        </p>
        <p>
            {{ form_label(form.email) }}<br/>
            {{ form_widget(form.email) }}
        </p>
         <p>
            {{ form_label(form.country) }}<br/>
            {{ form_widget(form.country) }}
        </p>
        <p>
            {{ form_label(form.message) }}<br/>
            {{ form_widget(form.message) }}
        </p>
        <p>
            {{ form_label(form.avatar) }}<br/>
            {{ form_widget(form.avatar) }}
        </p>
        {{ form_widget(form._token) }}
        <input type="submit" value="valider"/>
        {{ form_errors(form.nom) }}
        {{ form_errors(form.prenom) }}
        {{ form_errors(form.email) }}
        {{ form_errors(form.country) }}
    </form>
{% endblock %}