{%extends "SpljBundle:Bloc:skeleton.html.twig"%}
{% block title %}Nouveau QCM{% endblock %}
{% block class %}dashboard mcq{% endblock %}
{% block h1 %}Créer un QCM{% endblock %}
{% block body %}
{{ form_start(form, { 'attr' : { 'class' : 'form-horizontal style-form', 'novalidate' : 'novalidate' } }) }}
    <div class="form-group">
        <div class="col-sm-10">
            {{ form_widget(form.user_id, {'value' : 1},
                { 'attr' : { 'class' : 'form-control' }}
                 )
            }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 col-sm-2 control-label">{{ form_label(form.title, "Titre*")}}</label>
        <div class="col-sm-10">
            {{ form_widget(form.title,
                { 'attr' : { 'class' : 'form-control' } } )
            }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 col-sm-2 control-label">{{ form_label(form.theme, "Thème*")}}</label>
        <div class="col-sm-10">
            {{ form_widget(form.theme,
                { 'attr' : { 'class' : 'form-control' } } )
            }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 col-sm-2 control-label">{{ form_label(form.nbQuestions, "Nombre de questions*")}}</label>
        <div class="col-sm-10">
            {{ form_widget(form.nbQuestions, 
                { 'attr' : { 'class' : 'form-control' } } )
            }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 col-sm-2 control-label">{{ form_label(form.status, "Statut")}}</label>
        <div class="col-sm-10">
            {{ form_widget(form.status, 
                { 'attr' : { 'class' : 'form-control' } } )
            }}
        </div>
    </div>
    <div class="wrap-submit">
        <button type="submit" class="btn btn-theme">créer</button> 
    </div>
{{ form_end(form) }}
{% endblock %}