{%extends "SpljBundle:Bloc:skeleton.html.twig"%}
{% block title %}Nouvel Article{% endblock %}
{% block class %}dashboard form article{% endblock %}
{% block h1 %}
    {% if entity is defined %}
        modifier l'article
    {% else %}
        nouvel article
    {% endif %}
{% endblock %}
{% block body %}
    {{ form_start(form, { 'attr' : { 'class' : 'form-horizontal style-form form-validate', 'novalidate' : 'novalidate', 'id' : 'form' }  }) }}
        <div class="form-group">
            <div class="col-sm-10">
                {{ form_widget(form.user_id, {'value' : app.session.get('user').id},
                    { 'attr' : { 'class' : 'form-control' }}
                     )
                }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">{{ form_label(form.title, "Titre")}}</label>
            <div class="col-sm-10">
                {{ form_widget(form.title,
                    { 'attr' : { 'class' : 'form-control form-item', 'data-error' : 'titre'} } )
                }}
                {{ form_errors(form.title)}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">{{ form_label(form.date, "Date")}}</label>
            <div class="col-sm-2">
                {{ form_widget(form.date,
                    { 'attr' : { 'class' : 'datepicker form-control form-item', 'data-error' : 'date'} }
                )}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">{{ form_label(form.content, "Contenu")}}</label>
            <div class="col-sm-10">
                {{ form_widget(form.content, 
                    { 'attr' : { 'class' : 'form-control','data-error' : 'contenu'} } )
                }}
                {{ form_errors(form.content)}}
            </div>
        </div>
         <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">{{ form_label(form.extract, "Extrait")}}</label>
            <div class="col-sm-10">
                {{ form_widget(form.extract, 
                    { 'attr' : { 'class' : 'form-control','data-error' : 'extrait' } } )
                }}
                {{ form_errors(form.extract)}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">{{ form_label(form.file, "Illustration")}}</label>
            {% if entity is defined %}
                <div class="wrap-img col-sm-3">
                    <img src="{{ asset('bundles/splj/img/articles/'~ entity.image)}}" alt="">
                </div>
            <div class="col-sm-7">
            {% else %}
            <div class="col-sm-10">
            {% endif %}
                {{ form_widget(form.file, 
                    { 'attr' : { 'class' : 'form-control' } } )
                }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">{{ form_label(form.status, "Statut")}}</label>
            <div class="col-sm-10">
                {{ form_widget(form.status, 
                    { 'attr' : { 'class' : 'form-control' } } )
                }}
            </div>
        </div>
        <div class="wrap-submit">   
            {% if entity is defined %}
                <input type="submit" class="btn btn-theme" value="modifier" />
            {% else %}
                <input type="submit" class="btn btn-theme" value="créer" />
            {% endif %}
        </div>
    {{ form_widget(form._token) }}
    {{ form_end(form) }}
{% endblock %}