{%extends "SpljBundle:Bloc:skeleton.html.twig"%}
{% block title %}List QCM{% endblock %}
{% block class %}dashboard qcm{% endblock %}
{% block h1 %}liste des qcm{% endblock %}
{% block link %}
    <li><a class="logout" href="{{ url('splj.window.index')}}">Logout</a></li>
{% endblock %}
{% block body %}
<table class="table table-striped table-advance table-hover">
    <thead>
        <tr>
            <th><i class="fa fa-paw"></i>Sujet</th>
            <th class="hidden-phone"><i class="fa fa-university"></i>Thème</th>
            <th><i class="fa fa-male"></i>Auteur</th>
            <th><i class=" fa fa-dot-circle-o"></i> Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
        {% for qcm in qcm %}
            <td><a href="basic_table.html#">{{ qcm.sujet }}</a></td>
            <td class="hidden-phone">{{ qcm.theme }}</td>
            <td>{{ qcm.author }}</td>
            <td><span class="label label-info label-mini">{{ qcm.statut }}</span></td>
            <td>
                <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
