<div class="col-sm-12 col-xs-12 form-group">
    {{ form_label(question.question,null, {'label': 'Question ' ~ loop.index ~ '*','label_attr': {'class': 'col-sm-2 control-label'}}) }}
    <div class="col-sm-10 col-xs-10">
        {{ form_widget(question.question,
            { 'attr' : { 'class' : 'form-control' } } )
        }}
    </div>
</div>
{% for answer in question.answers %}
    <div class="col-sm-12 col-xs-12 form-group">
        {{ form_label(answer.answer, 'Réponse'~ loop.index ~ '*', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        <div class="col-sm-8 col-xs-10">
            {{ form_widget(answer.answer,
                { 'attr' : { 'class' : 'form-control' } } )
            }}
        </div>
        <div class="col-sm-2 col-xs-2">
            <div class="switch has-switch">
                {{ form_widget(answer.correct,
                    { 'attr' : { 'class' : 'form-control', 'data-toggle' : 'switch'} } )
                }}
            </div>
        </div>
    </div>
{% endfor %}