{%extends "SpljBundle:Bloc:skeleton.html.twig"%}
{% block title %}Statistiques{% endblock %}
{% block class %}dashboard stats{% endblock %}
{% block h1 %}Statistiques du site{% endblock %}
{% block body %}
<table class="table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th>Total des articles</th>
			<th>Total des QCM</th>
			<th>Total des questions</th>
			<th>Total des étudiants</th>
			<th>Total des enseignants</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ stats.totalArticle }}</td>
			<td>{{ stats.totalMcq }}</td>
			<td>{{ stats.totalQuestion }}</td>
			<td>{{ stats.totalStudent }}</td>
			<td>{{ stats.totalTeacher }}</td>
		</tr>
	</tbody>
</table>
<table class="table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th>Enseignant</th>
			<th>Nombre d'articles</th>
			<th>Nombre de QCM</th>
			<th>Nombre de questions</th>
		</tr>
	</thead>
	<tbody>
		{% for teacher in stats.teacherArray %}
			<tr>
				<td>{{ teacher.username }}</td>
				<td>{{ teacher.articles }}</td>
				<td>{{ teacher.mcqs }}</td>
				<td>{{ teacher.questions }}</td>
			</tr>
			{% endfor %}
	</tbody>
</table>
<table class="table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th>Étudiant</th>
			<th>Nombre de QCM répondus</th>
			<th>Score total / score max</th>
		</tr>
	</thead>
	<tbody>
		{% for student in stats.studentArray %}
			<tr>
				<td>{{ student.username }}</td>
				<td>{{ student.mcqs }}</td>
				<td>{{ student.score }} / {{ student.scoreMax }}</td>
			</tr>
			{% endfor %}
	</tbody>
</table>
{% endblock %}